<template>
  <div class="home">
    <div class="row justify-content-center">
      <div v-for="card in cards" :key="card.title" class="col-md-4 mb-3">
        <Card :title="card.title" :url="card.url" />
      </div>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Card.vue";

export default {
  name: 'Home',
  components: {
    Card
  },
  data() {
    return {
      cards: [
        {
          title: 'iBachors',
          url: '/launch/bachors'
        },
        {
          title: 'farizdotid',
          url: '/launch/farizdotid'
        },
      ]
    }
  }
}
</script>
