<template>
  <div v-if="validRoute">
    <b-card 
      :header="routeNow"
      border-variant="secondary"
      header-border-variant="secondary"
      class="mb-3 shadow"
    >
      <div v-if="routeNow === 'bachors'">
        <Bachors />
      </div>
      <div v-else-if="routeNow === 'farizdotid'">
        <FDI />
      </div>
      <div v-else>
        {{ routeNow }}
      </div>
    </b-card>
  </div>
  <div v-else>
    <h1>Not Found</h1>
  </div>
</template>

<script>
import Bachors from "@/components/Bachors.vue";
import FDI from "@/components/FDI.vue";

export default {
  name: 'Launcher',
  data() {
    return {
      validRoute: false,
      routeNow: ''
    }
  },
  components: {
    Bachors,
    FDI
  },
  created() {
    switch (this.$route.params.source) {
      case 'bachors':
      case 'vanmason':
      case 'farizdotid':
      case 'ibnux':
      case 'emsifa':
        this.validRoute = true
        this.routeNow = this.$route.params.source
        break
      default:
        this.validRoute = false
        break
    }
  }
}
</script>

<style>

</style>