<template>
  <div class="row">
    <div class="col-md-3 mb-2">
      <p class="mb-0">Provinces</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.provinces" @click="getProvinces()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-spinner v-if="lengths.province == 0" label="Spinning"></b-spinner>
        <p v-else class="mb-0">{{ lengths.province }}</p>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <p class="mb-0">Cities</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.cities" @click="getCities()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-progress v-if="lengths.city == 0"  :value="progressValue" max="100" show-progress animated></b-progress>
        <p v-else class="mb-0">{{ lengths.city }}</p>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <p class="mb-0">Districts and Subdistricts</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.districts" @click="getDistricts()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-progress v-if="lengths.district == 0"  :value="progressValue" max="100" show-progress animated></b-progress>
        <p v-else class="mb-0">{{ lengths.district }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'Bachors',
  data() {
    return {
      master: {
        provinces: [],
        cities: [],
        districts: [],
      },
      loadingState: {
        provinces: false,
        cities: false,
        districts: false,
      },
      lengths: {
        province: 0,
        city: 0,
        district: 0,
      },
      progressValue: 0
    }
  },
  methods: {
    async getProvinces() {
      this.loadingState.provinces = true

      const config = {
        method: 'get',
        url: 'https://kodepos-2d475.firebaseio.com/list_propinsi.json'
      }

      const response = await axios(config)
      const data = response.data

      const pair = []
      const keys = Object.keys(data)
      const values = Object.values(data)

      for (let i = 0; i < keys.length; i++) {
        pair.push({
          key: keys[i],
          value: values[i]
        })
      }

      this.master.provinces = pair
      this.lengths.province = pair.length
    },
    async getCities() {
      if (this.lengths.province == 0) {
        await this.getProvinces()
      }

      this.loadingState.cities = true

      const config = {
        method: 'get',
        url: ''
      }
      const pair = []
      this.progressValue = 0

      for (let i = 0; i < this.lengths.province; i++) {
        config.url = `https://kodepos-2d475.firebaseio.com/list_kotakab/${this.master.provinces[i].key}.json`
        const response = await axios(config)
        const data = response.data

        const keys = Object.keys(data)
        const values = Object.values(data)
        for (let i = 0; i < keys.length; i++) {
          pair.push({
            key: keys[i],
            value: values[i]
          })
        }
        this.progressValue = ((i + 1) / this.lengths.province) * 100
        console.log(i, this.progressValue, this.master.provinces[i].key);
      }

      this.master.cities = pair
      this.lengths.city = pair.length
    },
    async getDistricts() {
      if (this.lengths.city == 0) {
        await this.getCities()
      }

      this.loadingState.districts = true

      const config = {
        method: 'get',
        url: ''
      }
      const pair = []
      this.progressValue = 0

      for (let i = 0; i < this.lengths.city; i++) {
        config.url = `https://kodepos-2d475.firebaseio.com/kota_kab/${this.master.cities[i].key}.json`
        const response = await axios(config)
        const data = response.data

        const keys = Object.keys(data)
        const values = Object.values(data)
        for (let i = 0; i < keys.length; i++) {
          pair.push({
            key: keys[i],
            value: values[i]
          })
        }
        this.progressValue = ((i + 1) / this.lengths.city) * 100
        console.log(i, this.progressValue, this.master.cities[i].key);
      }

      this.master.districts = pair
      this.lengths.district = pair.length
    }
  }
}
</script>

<style>

</style>