<template>
  <div>
      <b-card 
        :header="title"
        align="center"
        border-variant="secondary"
        header-border-variant="secondary"
        class="mb-3 card-component"
      >
        <b-card-text>Status: Active</b-card-text>
        <b-button :to="url" variant="primary">
          Launch
          <b-icon-arrow-right></b-icon-arrow-right>
        </b-button>
      </b-card>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: [
    'title',
    'url'
  ]
}
</script>

<style>
.card-component {
  transition: ease .5s;
}
.card-component:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26)!important;
}
</style>