<template>
  <div class="row">
    <div class="col-md-3 mb-2">
      <p class="mb-0">Provinces</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.provinces" @click="getProvinces()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-spinner v-if="lengths.province == 0" label="Spinning"></b-spinner>
        <p v-else class="mb-0">{{ lengths.province }}</p>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <p class="mb-0">Cities</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.cities" @click="getCities()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-progress v-if="lengths.city == 0"  :value="progressValue" max="100" show-progress animated></b-progress>
        <p v-else class="mb-0">{{ lengths.city }}</p>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <p class="mb-0">Districts</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.districts" @click="getDistricts()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-progress v-if="lengths.district == 0"  :value="progressValue" max="100" show-progress animated></b-progress>
        <p v-else class="mb-0">{{ lengths.district }}</p>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <p class="mb-0">Subdistricts</p>
    </div>
    <div class="col-md-1 mb-2">
      <b-icon-arrow-right class="h4 mb-0"></b-icon-arrow-right>
    </div>
    <div class="col-md-8 mb-2">
      <button v-if="!loadingState.subdistricts" @click="getSubdistricts()" class="btn btn-primary">
        Get
      </button>
      <div v-else>
        <b-progress v-if="lengths.subdistrict == 0"  :value="progressValue" max="100" show-progress animated></b-progress>
        <p v-else class="mb-0">{{ lengths.subdistrict }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'FDI',
  data() {
    return {
      master: {
        provinces: [],
        cities: [],
        districts: [],
        subdistricts: [],
      },
      loadingState: {
        provinces: false,
        cities: false,
        districts: false,
        subdistricts: false,
      },
      lengths: {
        province: 0,
        city: 0,
        district: 0,
        subdistrict: 0,
      },
      progressValue: 0
    }
  },
  methods: {
    async getProvinces() {
      this.loadingState.provinces = true

      const config = {
        method: 'get',
        url: 'https://dev.farizdotid.com/api/daerahindonesia/provinsi'
      }

      const response = await axios(config)
      const data = response.data

      this.master.provinces = data.provinsi
      this.lengths.province = data.provinsi.length
    },
    async getCities() {
      if (this.lengths.province == 0) {
        await this.getProvinces()
      }

      this.loadingState.cities = true

      const config = {
        method: 'get',
        url: ''
      }
      const cities = []
      this.progressValue = 0

      for (let i = 0; i < this.lengths.province; i++) {
        config.url = `https://dev.farizdotid.com/api/daerahindonesia/kota?id_provinsi=${this.master.provinces[i].id}`
        const response = await axios(config)
        const data = response.data

        data.kota_kabupaten.forEach(el => {
          const tipe = el.nama.split(' ')[0]
          cities.push({
            id: el.id,
            id_provinsi: el.id_provinsi,
            nama: el.nama.substring(tipe.length + 1, el.nama.length),
            tipe
          })
        });

        this.progressValue = ((i + 1) / this.lengths.province) * 100
        console.log(i, this.progressValue, this.master.provinces[i].nama);
      }

      this.master.cities = cities
      this.lengths.city = cities.length
    },
    async getDistricts() {
      if (this.lengths.city == 0) {
        await this.getCities()
      }

      this.loadingState.districts = true

      const config = {
        method: 'get',
        url: ''
      }
      const districts = []
      this.progressValue = 0

      for (let i = 0; i < this.lengths.city; i++) {
        config.url = `https://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=${this.master.cities[i].id}`
        const response = await axios(config)
        const data = response.data

        data.kecamatan.forEach(el => {
          districts.push({
            id: el.id,
            id_kota: el.id_kota,
            nama: el.nama
          })
        });

        this.progressValue = ((i + 1) / this.lengths.city) * 100
        console.log(i, this.progressValue, this.master.cities[i].nama);
      }

      this.master.districts = districts
      this.lengths.district = districts.length
    },
    async getSubdistricts() {
      if (this.lengths.district == 0) {
        await this.getDistricts()
      }

      this.loadingState.subdistricts = true

      const config = {
        method: 'get',
        url: ''
      }
      const subdistricts = []
      this.progressValue = 0

      for (let i = 0; i < this.lengths.district; i++) {
        config.url = `https://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan=${this.master.districts[i].id}`
        const response = await axios(config)
        const data = response.data

        data.kelurahan.forEach(el => {
          subdistricts.push({
            id: el.id,
            id_kecamatan: el.id_kecamatan,
            nama: el.nama
          })
        });

        this.progressValue = ((i + 1) / this.lengths.district) * 100
        console.log(i, this.progressValue, this.master.districts[i].nama);
      }

      this.master.subdistricts = subdistricts
      this.lengths.subdistrict = subdistricts.length
    }
  }
}
</script>

<style>

</style>