<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="danger">
      <div class="container">
        <b-navbar-brand to="/">Regions ID</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/" :active="$route.name == 'Home'">Home</b-nav-item>
            <b-nav-item to="/about" :active="$route.name == 'About'">About</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'Navbar'
};
</script>
