<template>
  <div id="app">
    <Navbar />
    <div class="container my-4">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
</style>
